/* ============================================================================ */
/* Basic Setup */
/* ============================================================================ */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Global html settings - basic settings for all elements */

html {
  background-color: #fff;
  color: #555;
  /* sans-serif no apostrophe -> reserved word in the css file for offline browsing font - if others doesnt exist */
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ============================================================================ */
/* REUSABLE COMPONENTS */
/* ============================================================================ */

.row {
  max-width: 1140px;
  margin: 0 auto 10px auto;
  border: 1px solid red;
}

.section-features{
  padding: 80px 0;
}

.box {
    padding: 1%;
      /* Where is the element */
  border: 5px solid rgba(23, 102, 221, 0.88);
  /*======================*/
}

/* ==========  HEADERS - h1..h6 ============= */

h1,h2 {
  /* Where is the element */
  border: 5px solid rgba(23, 102, 221, 0.88);
  /*======================*/
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1{
  font-size: 200%;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
  word-spacing: 4px;
}

h2{
  font-size: 180%;
  text-align: center;
  word-spacing: 2x;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after{
  display: block;
  height: 2px;
  background-color: #e2b70d;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

h3{
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 15px;
}

/* ========== Paragraphs ========== */

.long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p{
  font-size: 90%;
  line-height: 145%;
}


/* ========== Icons ========== */

.icon-big {
    font-size: 260%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/* ==========  Buttons - btn,btn full,btn ghost ============= */

.btn:link,
.btn:visited {
  /* inline-block element has padding + margin and doesn't line break */
  display: inline-block;
  font-size: 115%;
  padding: 10px 15px;
  margin-right: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 1em;
  width: 200px;
  transition: border 2s, width 2s, background-color 2s, height 2s, transform 2s;  
  transition-delay: 0.15s;
  text-align: center;
  size: 10px;
}

#btn {transition-timing-function: ease;}

.btn-full:link,
.btn-full:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
  
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active{
  background-color: #e67e22;
  width: 20%;
  transform: rotate(137.5077640500378546463487deg);
  transition-delay: 0.15s;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: #fff;
}

/* ============================================================================ */
/* HEADER */
/* ============================================================================ */

header {
  /* Where is the element */
  border: 5px solid rgba(255, 33, 22, 0.88);
  /*======================*/
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(9, 9, 9, 0.8)), url(D:/LocalProjects/vsCode/angularProjects/Omnifood/inhouse/CSS/img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.hero-text-box {
  /* Where is the element */
  border: 5px solid rgba(255, 33, 22, 0.88);
  /*======================*/
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.logo{
  margin-top: 20px;
  height: 100px;
  width: auto;
  float: left;
}

.main-nav {
  margin-top: 55px;
  float:  right;
  list-style: none;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
  
}

.main-nav li a:link,
.main-nav li a:visited{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding-bottom: 5px 0;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 1px solid #e67e22;
  padding-bottom: 5px 0;
}

/* ============================================================================ */
/* SECTION */
/* ============================================================================ */

/* ====== Meals ===== */

.meals-showcase{
  list-style: none;
  width: 100%;
}

.meals-showcase li{
  display: block;
  float: left;
  width: 25%;
}